@media screen and (max-width: 768px) {
    header > .container {
        justify-content: center;
    }
    header .menuDesktop ul {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menuMobile,
    header .iconMobile {
        display: none;
    }
}