@media screen and (max-width: 1000px) {
    section.about .img img {
        width: 400px;
    }
}
@media screen and (max-width: 870px) {
    section.about .img img {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    header > .container {
        justify-content: center;
    }
    header .menuDesktop ul {
        display: none;
    }
    section.about>.container {
        flex-direction: column;
        align-items: center;
    }
    section.about .img img {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .menuMobile,
    header .iconMobile {
        display: none;
    }
}