*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* body, html {
    height: 100%;
} */

h3 {
    display: block;
    font-size: 1.17em!important;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.dYAHJJ {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0px !important;
}

.fJepce {
    margin-bottom: 0px !important;
}

:root{
    --rosa: #ed145b;
}

body {
    background: rgb(83, 83, 83);
    background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(58, 58, 58, 1) 35%, rgba(33, 33, 33, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media print {
    body {
        background: rgb(83, 83, 83);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .perfil .img {
            width: 200px;
            height: 200px;
    }
}

body::-webkit-scrollbar {
    background-color: rgba(33, 33, 33, 1);
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;

}