*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/* body, html {
    height: 100%;
} */

:root{
    --rosa: #ed145b;
}

body {
    background: rgb(83, 83, 83);
    background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(58, 58, 58, 1) 35%, rgba(33, 33, 33, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media print {
    body {
        background: rgb(83, 83, 83);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

body::-webkit-scrollbar {
    background-color: rgba(33, 33, 33, 1);
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;

}